---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import MainServices from "../components/MainServices.astro";
import ExtraServices from "../components/ExtraServices.astro";
import WhyChooseUs from "../components/WhyChooseUs.astro";
import OurTeam from "../components/OurTeam.astro";
import AdvanceServices from "../components/AdvanceServices.astro";
import Carrousel from "../components/Carrousel.astro";
import Footer from "../components/Footer.astro";
import StatusBar from "../components/StatusBar.astro";
---

<Layout title="Welcome to Astro.">
  <StatusBar />
  <main>
    <Header />
    <Hero />
    <MainServices />
    <ExtraServices />
    <WhyChooseUs />
    <OurTeam />
    <AdvanceServices />
    <Carrousel />
    <Footer />
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 100%;
    max-width: calc(100% - 2rem);
    color: #333;
    font-size: 20px;
    line-height: 1.6;
  }
</style>
