---
import LogoIcon from "../icons/LogoIcon.astro";
// import "@fontsource/titillium-web/300.css";
import ShopCartIcon from "../icons/ShopCartIcon.astro";
import SearchIcon from "../icons/SearchIcon.astro";
---

<header class="flex justify-between items-center">
  <LogoIcon />
  <!-- TODO: Hacerlo Responsive -->
  <ul class="hidden gap-5 items-center text-sm sm:flex">
    <li class="group">
      <a href="#">
        <span class="text-red-600 invisible group-hover:visible">/</span> Home +
      </a>
    </li>
    <li class="group">
      <a href="#">
        <span class="text-red-600 invisible group-hover:visible">/</span> Pages +
      </a>
    </li>
    <li class="group">
      <a href="#">
        <span class="text-red-600 invisible group-hover:visible">/</span> Projects
        +
      </a>
    </li>
    <li class="group">
      <a href="#">
        <span class="text-red-600 invisible group-hover:visible">/</span> Blog +
      </a>
    </li>
    <li class="group">
      <a href="#">
        <span class="text-red-600 invisible group-hover:visible">/</span> Shop +
      </a>
    </li>
    <li class="group">
      <a href="#">
        <span class="text-red-600 invisible group-hover:visible">/</span> Contacts
        +
      </a>
    </li>
  </ul>
  <div class="flex gap-5 items-center relative">
    <!-- <ShopCartIcon /> -->
    <!-- <SearchIcon /> -->
    <button
      class="bg-red-600 p-4 transition-all duration-300 hover:bg-red-700 hover:scale-105 rounded-md text-white text-sm h-full"
      >Agenda tu cita!</button
    >
  </div>
</header>

<style>
  a {
    font-weight: 700;
  }

  span {
    font-weight: 900;
    font-size: 1rem;
  }

  button {
    font-weight: 700;
  }
</style>
