<div class="mt-28 bg-red-200 items-center wea lb:h-72">
  <!-- <div></div> -->
  <div
    class="a6 bg-red-600 col-span-1 white h-full flex justify-center items-center relative overflow-hidden"
  >
    <picture
      class="absolute rotate-[35deg] -translate-y-1/3 translate-x-1/4 opacity-85"
    >
      <img
        src="https://i.postimg.cc/NGWvTV5Y/png-transparent-car-tire-tread-wheel-printed-tires-printed-tread-pattern-stains-angle-text-photograp.png"
        alt="road_marks"
      />
    </picture>
    <div class="text-white font-semibold">Putadon</div>
    <span
      class="absolute leading-none text-white bottom-0 right-0 font-extrabold text-[10rem] align-text-bottom opacity-50"
      >01</span
    >
  </div>
  <!-- <div></div> -->
  <!-- <div></div> -->
  <picture class="b6 bg-blue-200 col-span-1 h-full w-full overflow-hidden">
    <img
      class="object-cover aspect-square"
      src="https://i.postimg.cc/sD7sYDVf/Oil-Change-How-Long-Does-it-Take.jpg"
      alt="Motor maintainance"
    />
  </picture>
  <!-- <div></div> -->
  <!-- <div></div> -->
  <div
    class="c6 texture02 col-span-1 white h-full flex justify-center items-center relative overflow-hidden z-10"
  >
    <div class="text-white font-semibold">Putadon</div>
    <span
      class="absolute leading-none text-white bottom-0 right-0 font-extrabold text-[10rem] align-text-bottom opacity-50"
      >02</span
    >
  </div>
  <!-- <div></div> -->
  <!-- <div></div> -->
  <picture
    class="d6 bg-blue-200 col-span-1 h-full w-full overflow-hidden relative"
  >
    <img
      class="absolute object-cover aspect-square bottom-0 right-0"
      src="https://i.postimg.cc/XqFx4MYV/Premium-Photo-Master-collects-a-rebuilt-motor-for-the-car.jpg"
      alt="Motor maintainance"
    />
  </picture>
  <!-- <div></div> -->
</div>

<style>
  .texture02 {
    background-color: #171717;
    opacity: 1;
    background-image: linear-gradient(45deg, #000000 50%, #171717 50%);
    background-size: 18px 18px;
  }

  .wea {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
  }

  .a6 {
    grid-area: 1 / 1 / 5 / 5;
  }

  .b6 {
    grid-area: 3 / 4 / 7 / 8;
  }

  .c6 {
    grid-area: 6 / 1 / 10 / 5;
  }

  .d6 {
    grid-area: 8 / 4 / 12 / 8;
  }

  @media (min-width: 768px) {
    .wea {
      all: unset;
      display: grid;
      grid-column: span 4 / span 4;
      grid-auto-flow: row;
      background: cyan;
    }

    .a6 {
      all: unset;
      grid-column: span 1 / span 1;
    }

    .b6 {
      all: unset;
      grid-column: span 1 / span 1;
    }

    .c6 {
      all: unset;
      grid-column: span 1 / span 1;
    }

    .d6 {
      all: unset;
      grid-column: span 1 / span 1;
    }
  }
</style>
