<div
  class="mt-28 bg-red-200 grid grid-cols-2 grid-rows-2 lg:grid-rows-1 lg:grid-cols-4 items-center lb:h-72"
>
  <!-- <div></div> -->
  <div
    class="bg-red-600 white h-full flex justify-center items-center relative overflow-hidden"
  >
    <picture
      class="absolute rotate-[35deg] -translate-y-1/3 translate-x-1/4 opacity-85"
    >
      <img
        src="https://i.postimg.cc/NGWvTV5Y/png-transparent-car-tire-tread-wheel-printed-tires-printed-tread-pattern-stains-angle-text-photograp.png"
        alt="road_marks"
      />
    </picture>
    <div class="text-white font-semibold">Putadon</div>
    <span
      class="absolute leading-none text-white bottom-0 right-0 font-extrabold text-[10rem] align-text-bottom opacity-50"
      >01</span
    >
  </div>
  <!-- <div></div> -->
  <!-- <div></div> -->
  <picture class="bg-blue-200 h-full w-full overflow-hidden">
    <img
      class="object-cover aspect-square"
      src="https://i.postimg.cc/sD7sYDVf/Oil-Change-How-Long-Does-it-Take.jpg"
      alt="Motor maintainance"
    />
  </picture>
  <!-- <div></div> -->
  <!-- <div></div> -->
  <div
    class="row-start-2 row-end-2 col-start-2 col-end-3 row-span-1 col-span-1 lg:row-start-1 lg:col-start-3 texture02 h-full flex justify-center items-center relative overflow-hidden z-10"
  >
    <div class="text-white font-semibold">Putadon</div>
    <span
      class="absolute leading-none text-white bottom-0 right-0 font-extrabold text-[10rem] align-text-bottom opacity-50"
      >02</span
    >
  </div>
  <!-- <div></div> -->
  <!-- <div></div> -->
  <picture
    class="row-span-1 col-start-1 col-end-2 col-span-1 lg:row-start-1 lg:col-start-4 lg:col-end-5 bg-blue-200 h-full w-full overflow-hidden relative"
  >
    <img
      class="absolute object-cover aspect-square bottom-0 right-0"
      src="https://i.postimg.cc/XqFx4MYV/Premium-Photo-Master-collects-a-rebuilt-motor-for-the-car.jpg"
      alt="Motor maintainance"
    />
  </picture>
  <!-- <div></div> -->
</div>

<style>
  .texture02 {
    background-color: #171717;
    opacity: 1;
    background-image: linear-gradient(45deg, #000000 50%, #171717 50%);
    background-size: 18px 18px;
  }
</style>
