---
import PhoneIcon from "../icons/PhoneIcon.astro";
import AddressIcon from "../icons/AddressIcon.astro";
import StatusIcon from "../icons/StatusIcon.astro";
---

<!-- TODO: Hacerlo Responsive -->
<div
  class="flex justify-between text-sm bg-black text-white p-3 flex-col sm:flex-row"
>
  <div class="flex gap-2 items-center">
    <PhoneIcon />
    <span class="mr-2">+51 991027051</span>
    <AddressIcon />
    <span> Villa El Salvador, Lima, Perú </span>
  </div>
  <div class="flex items-center gap-3">
    <span>Abierto 8:00 am - 8:00 pm</span>
    <StatusIcon />
  </div>
</div>

<style>
  span {
    font-weight: 400;
  }
</style>
